/* Para navegadores que suportam a especificação scrollbar-color (Firefox, alguns navegadores Chromium) */
* {
    scrollbar-color: #333 #f1f1f1;
}

/* Para navegadores WebKit (Chrome) */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px; /* Adiciona borda arredondada ao scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    transition: background-color 0.3s ease;
    border-radius: 6px; /* Adiciona borda arredondada à barra */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px; /* Adiciona borda arredondada à pista do scrollbar */
}

input::-webkit-reveal { /* Estilo para ocultar o botão de revelação de senha no Webkit */
    display: none;
}

/* Para navegadores Firefox */
::-moz-scrollbar {
    width: 6px;
    border-radius: 6px;
}

::-moz-scrollbar-thumb {
    background-color: #333;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

::-moz-scrollbar-thumb:hover {
    background-color: #333;
}

::-moz-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

input::-moz-reveal { /* Estilo para ocultar o botão de revelação de senha no Firefox */
    display: none;
}

/* Para navegadores Blink (Microsoft Edge) */
::-ms-scrollbar {
    width: 6px;
    border-radius: 6px;
}

::-ms-scrollbar-thumb {
    background-color: #333;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

::-ms-scrollbar-thumb:hover {
    background-color: #333;
}

::-ms-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

input::-ms-reveal { /* Estilo para ocultar o botão de revelação de senha no Edge */
    display: none;
}