@media screen and (max-width: 1000px) {
    #inicio {
    display: flex;
    flex-direction: column; /* Mudança para empilhar os elementos em telas menores */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  #video-container,
  #texto-container {
    width: 100%; /* Volta à configuração original em telas maiores */
    margin-top: 50px;
  }

  .projeto {
    width: calc(100% - 40px); /* Ajuste conforme necessário */
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid #333;
    border-style: ridge;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }

  footer {
    font-size: 0.8rem; /* Ajusta o tamanho do texto em telas menores se necessário */
  }
}