body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Cor de fundo da página */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Para centralizar verticalmente */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.7s ease;
}

nav a:hover {
  color: #ffee00;
}

nav a.active {
  color: #ffee00;
}

nav a.clicked {
  color: #ffee00;
}

.icon-right {
  margin-right: 30px; /* Espaçamento entre o menu e o ícone */
}


section {
  padding: 50px 20px;
  text-align: center;
}

h1 {
  color: #333; /* Cor do texto principal */
}

a {
  text-decoration: none; /* Remove o sublinhado dos links */
}

#inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  min-height: 300px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

#video-container {
  flex: 0 0 45%; /* Ajuste conforme necessário */
  max-width: 400px; /* Largura fixa do contêiner de vídeo */
  background-color: #f2f2f2; /* Cor de fundo mais clara */
  border: 2px solid #ddd; /* Cor da borda */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

#texto-container {
  /*flex: 0 0 45%;  Ajuste conforme necessário */
  flex: auto;
}

video {
  max-width: 100%;
  height: 300px;
  width: 400px;
}

#texto {
  font-size: 1.5rem;
  white-space: pre-line;
  overflow: hidden;
}

#projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projeto {
  width: calc(50% - 40px); /* Ajuste conforme necessário */
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #333;
  border-style: ridge;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.projeto img {
  max-width: 40px;
  padding: 5px;
  height: auto;
}

.imagens {
  display: flex; /* Mantém as imagens em linha */
  justify-content: center;
}

.div-botao {
  margin-top: auto; /* Empurra a div-botao para a parte inferior */
  text-align: center; /* Centraliza os botões horizontalmente */
}

.botao {
  display: block;
  max-width: 120px;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
}

.botao:hover {
    color: #ffee00; /* Altere a cor de fundo ao passar o mouse */
}

#github-button {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 100px;
}

#github-button:hover {
  color: #ffee00;
}

#blog a {
  color: #333;
}

#blog a:hover{
  color: #ffee00;
}

#contatos a {
  color: #333;
}

#contatos a:hover{
  color: #ffee00;
}

#contatos {
  text-align: center; /* centralizar o conteúdo */
}

#contatos h1 {
  margin-bottom: 20px; /* adicionar espaço abaixo do título */
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-icon {
  flex: 0 0 25%; /* 25% de largura em telas maiores, ajustável conforme necessário */
  box-sizing: border-box;
  max-width: 100px; /* Ajuste o tamanho máximo conforme necessário */
  margin: 20px;
}

.contact-icon svg {
  width: 50px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 50px;
}

footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  height: 10rem; /* Altura do rodapé */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centralizar o texto no centro do rodapé */
  font-size: 1rem; /* Tamanho do texto */
}

footer p {
  margin: 0.5rem; /* Margem entre os parágrafos dentro do rodapé */
  font-size: 1rem;
}

footer a {
  color: #fff; /* Cor dos links no rodapé */
  cursor: pointer;
}

footer a:hover {
  color: #ffee00; /* Cor dos links ao passar o mouse */
}

article:hover {
  border-color: #ffee00;
}



.btn-voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 10px; /* Espaçamento entre o texto e o botão */
  cursor: pointer;
}

/* Estilizando os controles de mídia */
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pause-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  display: none;
}